@model CRP.Models.ViewModels.BookingCommentModel
@{
    ViewBag.Title = "Booking History";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Booking History</h2>
</div>



<a href="https://www.baokim.vn/payment/product/version11?business=Tamntse61384%40fpt.edu.vn&id=&order_description=%C3%A1doasdnl&product_name=Booking+Fee&product_price=10000&product_quantity=1&total_amount=10000&url_cancel=https%3A%2F%2Fwww.facebook.com%2Fgreedymnm&url_detail=https%3A%2F%2Fwww.facebook.com%2Ftam.nguyentuong&url_success=https%3A%2F%2Fwww.facebook.com%2Fkunwalle"><img src="http://www.baokim.vn/developers/uploads/baokim_btn/muahang-s.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
<a target="_blank" href="https://www.nganluong.vn/button_payment.php?receiver=(Email chính tài khoản nhận tiền)&product_name=(Mã đơn đặt hàng)&price=(Tổng giá trị)&return_url=(URL thanh toán thành công)&comments=(Ghi chú về đơn hàng)"><img src="https://www.nganluong.vn/css/newhome/img/button/pay-sm.png" border="0" /></a>
<a href="https://www.baokim.vn/payment/product/version11?business=Tamntse61384%40fpt.edu.vn&id=&order_description=s%C3%A1&product_name=B%C3%B4king&product_price=100000&product_quantity=1&total_amount=100000&url_cancel=https%3A%2F%2Fwww.facebook.com%2Fgreedymnm&url_detail=https%3A%2F%2Fwww.facebook.com%2Fgreedymnm&url_success=https%3A%2F%2Fwww.facebook.com%2Fgreedymnm"><img src="http://www.baokim.vn/developers/uploads/baokim_btn/thanhtoanthoathuan-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
<a href="https://www.baokim.vn/payment/product/version11?business=Tamntse61384%40fpt.edu.vn&id=&order_description=Booking+Fee+d%C3%B9ng+%C4%91%E1%BB%83+booking+thu%C3%AA+xe&product_name=Booking+Fee&product_price=10000&product_quantity=1&total_amount=10000&url_cancel=https%3A%2F%2Fwww.facebook.com%2Fthynh1610&url_detail=news.zing.vn&url_success=https%3A%2F%2Fwww.facebook.com%2Ftam.nguyentuong"><img src="http://www.baokim.vn/developers/uploads/baokim_btn/thanhtoan-s.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
<a target="_blank" href="https://www.nganluong.vn/button_payment.php?receiver=Tamntse61384@fpt.edu.vn&product_name=EEE1&price=10000&return_url=news.zing.vn&comments=no"><img src="https://www.nganluong.vn/css/newhome/img/button/pay-sm.png" border="0" /></a>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="3ZQC6B4LJZRJY">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox ibox-content float-e-margins">
            <table class="table table-striped table-bordered table-hover " id="garages" width="100%">
                <thead></thead>
                <tfoot id="multiFilter">
                    <tr>
                        <th></th>
                        <!-- tên xe -->
                        <th>
                            <div id="VehicleName" class="btn-group">
                                <button class="btn btn-primary filter-toggle">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="dropdown-menu filter-dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Group Name...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-warning filter-remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </th>
                        <!-- start time -->
                        <th>
                            <div id="StartTime" class="btn-group">
                                <button class="btn btn-primary filter-toggle">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="dropdown-menu filter-dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Max rental period...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-warning filter-remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </th>
                        <!-- endTime -->
                        <th>
                            <div id="EndTime" class="btn-group">
                                <button class="btn btn-primary filter-toggle">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="dropdown-menu filter-dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="deposit">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-warning filter-remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </th>
                        <!-- status -->
                        <th>
                            <div id="Status" class="btn-group">
                                <button class="btn btn-primary filter-toggle">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="dropdown-menu filter-dropdown">
                                    <button class="btn btn-primary btn-block">Filter <i class="fa fa-search"></i></button>
                                    <div class="scroller">
                                        <div class="input-group" id="transmissionSelector">
                                            <div class="checkbox checkbox-success">
                                                <input value="true" id="sttActive" type="checkbox" />
                                                <label for="sttActive">Cancle or Done</label>
                                            </div>
                                            <div class="checkbox checkbox-success">
                                                <input value="false" id="sttInactive" type="checkbox" />
                                                <label for="sttInactive">During</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-warning filter-remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </th>
                        <!-- Star -->
                        <th>
                            <div id="Star" class="btn-group">
                                <button class="btn btn-primary filter-toggle" aria-expanded="false">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button class="btn btn-warning filter-remove">
                                    <i class="fa fa-times"></i>
                                </button>
                                <div class="dropdown-menu filter-dropdown last-col-filter">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>From</b></span>
                                        <input type="number" min="0" max="5" class="from-input form-control">
                                        <span class="input-group-addon"><b>To</b></span>
                                        <input type="number" min="0" max="5" class="to-input form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    @{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/BookingHistory")
                                                    .Include("~/Content/awesome-bootstrap-checkbox.css",
                                                        "~/Content/chosen.css",
                                                        "~/Content/DataTables/css/dataTables.bootstrap.css",
                                                        "~/Content/pageStyle/vehicleGroupManagement.css"));
    }
    @section Styles {
        @Styles.Render("~/Styles/BookingHistory")
    }
    @{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/BookingHistory")
                                                     .Include("~/Scripts/chosen.jquery.js",
                                                        "~/Scripts/DataTables/jquery.dataTables.js",
                                                        "~/Scripts/DataTables/dataTables.bootstrap.js",
                                                        "~/Scripts/utils/generateUIElements.js",
                                                        "~/Scripts/utils/generateCustomDataTablesFilters.js",
                                                        "~/Scripts/pageScript/BookingHistory.js"));
    }
    @section Scripts {
        @Scripts.Render("~/Scripts/BookingHistory")
    }
