/** carManagement.css ver1.0 */
.btn-color {
    border-radius: 0 !important;
    border: #000 solid 1px;
    margin: 2px 0px;
}
#panel-color {
    display: none;
}
#my-awesome-dropzone {
    display: none;
}

#multiFilter {
    display: table-header-group;
}
#multiFilter .btn-group {
    min-width: 6em;
    width: 100%;
}

.filter-toggle {
    width: calc(100% - 3em);
}
.filter-remove {
    width: 2.5em;
}

.last-col-filter {
    left: -8em !important;
}
.filter-dropdown {
    left: -2em;
    min-width: initial;
    padding: 5px;
}
.scroller {
    max-height: 20em;
    overflow-x: hidden;
}
.filter-dropdown input[type=text] {
    min-width: 20em;
}
.filter-dropdown input[type=number] {
    min-width: 7em;
}
.filter-dropdown .checkbox {
    display: block;
    padding: 0 15px 0.5em 20px; 
    white-space: nowrap;
}
.filter-dropdown .checkbox:first-child {
    padding-top: 0.5em;
}