#wrapper {
	min-height: 100%;
	position: relative;
	background: #1cc09f linear-gradient(0deg, #1cc09f, #138569);
}

.wrapper-content {
	padding: 5em 10vw 5em;
}
.btnChoose:hover{
    background-color: #1cc09f;
}
.btnChoose:visited{
    background-color: yellow;
}
.boxForm{
    margin: 0 90px 0 110px;
}
.btnBeige{
    background-color: beige;
}
.btnBlack:hover{
    background-color: black;
}
.btnBlue{
    background-color: blue;
}
.btnBrown{
    background-color: brown;
}
.btnRed{
    background-color: red;
}
.btnSilver{
    background-color: silver;
}
.btnWhite{
    background-color: white;
}
.btnYellow{
    background-color: yellow;
}