@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
<div class="wrapper page-heading row">
    <div style="color: white; font-size: 6em; font-weight: bold; margin: 1em 0 0.5em; text-align: center;">CAR RENTAL PORTAL</div>

    <form class="form-inline col-md-offset-2 col-md-8 text-center" action="./../searchResult/searchResult.html">
        <div class="form-group center-block" style="background: rgba(100,150,100,.55); border: 1px solid white; border-radius: 10px; padding: 15px 20px 20px 20px;">
            <div class="input-group">
                <select data-placeholder="Please pick a location..." id="locationSelector" class="form-control">
                    <option value=""></option>
                    <option value="1">Hồ Chí Minh</option>
                    <option value="2">Hà Nội</option>
                    <option value="3">Cà Mau</option>
                </select>
            </div>
            <div class="input-group" id="timerange">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input id="startTimeDisplay" class="form-control" placeholder="Pickup time" />
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input id="endTimeDisplay" class="form-control" placeholder="Return time" />
            </div>
            <div class="input-group">
                <input type="submit" class="btn btn-info" value="SEARCH">
            </div>
        </div>
    </form>
</div>