#starRating {
	font-size: 2em;
}

#workingTime .input-group-addon:first-of-type  {
	font-weight: bold;
	width: 8em;
}

.display-control {
    margin: 15px 0px;
    font-size: 16px;
}
.first-row {
    margin-top: 50px;
}