body {
	position: relative;
}

.custom-page-wrapper{
	background-color: #ffffff;
}

.footer {
	position: relative;
}

.scroll-container{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

/* ====================================== */
/* Filters */
#filters .panel-heading {
    color: black;
	background-color: #B2DFDB;
    font-size: 1.5em;
    text-shadow: 0 1px 1px white;
}

.input-group-addon {
	font-weight: bold;
	text-align: left;
	background-color: #B2DFDB;
}

.form-control[readonly] {
	background-color: white;
}

#priceFilter {
	margin: 1em 2em 0;
}

#custom-select2 .fa, .select2-results .fa {
	font-size: 1.2em;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

.result-count {
	margin-bottom: 1em;
}

/* ====================================== */
/* Search Results */

.search-result {
	border: 1px solid #A8B5BC;
	transition-duration: 0.5s;
}
.search-result:hover {
	box-shadow: 3px 3px 12px 6px #a8a8a8;
}

.vehicle-img-container{
	position: relative;
}
.vehicle-img {
	background-position: center;
	background-size: cover;
	padding-top: 75%;
	position: relative;
	width: 100%;
}

.carousel-control, .carousel-control:focus{
	opacity: 0;
	transition-duration: 0.5s
}

.vehicle-info {
	padding: 1em 1em 0.5em;
}
.vehicle-info hr {
	border-color: #BFBFBF;
	margin: 0.5em;
}

.vehicle-price-tag {
	background-color: #1ab394;
	bottom: 0;
	color: black;
	font-weight: bold;
	padding: 0.5em 1em;
	position: absolute;
	right: 0;
}

.vehicle-price {
	font-size: 1.2em;
}

.vehicle-name {
	font-size: 1.5em;
	font-weight: bold;
}

.br-theme-fontawesome-stars .br-widget a {
	font-size: 1.3em;
}

.license-number {
	font-weight: bold;
	text-align: center;
}