body {
	position: relative;
}

.custom-page-wrapper{
	background-color: #ffffff;
}

.footer {
	position: relative;
}

.scroll-container{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

/* ====================================== */
/* Filters */
#filters .panel-heading {
	text-shadow: 0 1px 1px black;
}

#filters .panel {
	border: 0;
}

#filters .panel-body {
	border: 0;
	padding: 1em 0;
}

.input-group-addon {
	font-weight: bold;
	text-align: left;
	background-color: #B2DFDB;
}

.form-control[readonly] {
	background-color: white;
}

.noUi-marker {
	display: none;
}

.noUi-value{
	background: #E5E5E5;
	border: 1px solid #A8B5BC;
	border-radius: 6px;
	color: #000000;
	padding: 3px 5px; 
	top: 0;
}
.noUi-value:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-bottom: 8px solid #A8B5BC;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.noUi-value:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -7px;
	width: 0; height: 0;
	border-bottom: 7px solid #E5E5E5;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}

#custom-select2 .fa, .select2-results .fa {
	font-size: 1.2em;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

/* ====================================== */
/* Search Results */

.search-result {
	border: 1px solid #A8B5BC;
	transition-duration: 0.5s;
}
.search-result:hover {
	box-shadow: 3px 3px 12px 6px #a8a8a8;
}

.vehicle-img-container{
	background-color: #BFBFBF;
	position: relative;
}
.vehicle-img {
	animation-duration: 0.5s;
	background-position: center;
	background-size: cover;
	padding-top: 75%;
	position: relative;
	width: 100%;
}

.carousel-control {
	opacity: 0;
	transition-duration: 0.5s
}

.vehicle-info {
	padding: 1em 1em 0.5em;
}
.vehicle-info hr {
	border-color: #BFBFBF;
	margin: 0.5em;
}

.vehicle-price-tag {
	background-color: hsla(166, 100%, 18%, .8);
	bottom: 0;
	color: white;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.7em;
	font-weight: bolder;
	padding: 0.2em 0.5em;
	position: absolute;
	right: 0;
}
.vehicle-price-tag up{
	font-size: 0.7em;
	position: relative;
	bottom: 0.3em;
}
.vehicle-price-tag down{
	font-size: 0.5em;
}.vehicle-price-tag per{
	font-size: 0.7em;
}

.vehicle-name {
	font-size: 1.5em;
	font-weight: bold;
}

.br-theme-fontawesome-stars .br-widget a {
	font-size: 1.3em;
}

.num-of-seat {
	font-size: 1.3em;
	text-align: left;
}
.num-of-seat .fa {
	font-size: 1.8em;
}

.badge-container {
	height: 3em;
	overflow-y: hidden;
}
.badge-container .badge{
	font-weight: normal;
}

.license-number {
	font-weight: bold;
	text-align: center;
}