.btn-color {
    border-radius: 0 !important;
    border: #000 solid 1px;
    margin: 2px 0px;
}
#editFiel{
    display:none;
}
#panel-color {
    display: none;
}
#my-awesome-dropzone {
    display: none;
}