/** carInfo ver1.0 */
.info-tb tr > td:first-child, .info-tb > .col-md-6 > .row > .col-md-6:first-child {
    font-weight: bold;
}
.info-tb > .col-md-6 > .row {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.float-e-margins .ibox-content {
    padding: 0px 30px !important;
}
.image-imitation {
    padding: 0 !important;
}
.product-images {
    max-width: 500px;
}

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    background-color: bisque;
}