/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-popup {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header-popup {
    
    background-color: #5cb85c;
    color: white;
}

.modal-body-popup {padding: 2px 16px;}

/*
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}*/
