
@{
    ViewBag.Title = "VehicleGroupManagement";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Car Group Management</h2>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox ibox-content float-e-margins">
        <div class="pull-right m-r m-b">
            <button class="btn btn-primary" id="btnAddVehiclePopup" onclick="addVehicleGroup()">Add vehicle group</button>
        </div>
        <table class="table table-striped table-bordered table-hover " id="garages" width="100%">
            <thead></thead>
            <tfoot id="multiFilter">
            <th></th>
            <!-- Garage's name filter -->
            <th>
                <div id="name" class="btn-group">
                    <button class="btn btn-primary filter-toggle">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="dropdown-menu filter-dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Group Name...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-warning filter-remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </th>
            <!-- Max rent filter -->
            <th>
                <div id="maxrent" class="btn-group">
                    <button class="btn btn-primary filter-toggle">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="dropdown-menu filter-dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Max rental period...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-warning filter-remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </th>
            <!-- deposit filter -->
            <th>
                <div id="deposit" class="btn-group">
                    <button class="btn btn-primary filter-toggle">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="dropdown-menu filter-dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="deposit">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-warning filter-remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </th>
            <!-- per day price filter -->
            <th>
                <div id="perday" class="btn-group">
                    <button class="btn btn-primary filter-toggle">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="dropdown-menu filter-dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Per day price...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-warning filter-remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </th>
            <!-- price filter -->
            <th>
                <div id="price" class="btn-group">
                    <button class="btn btn-primary filter-toggle">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="dropdown-menu filter-dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="price...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-warning filter-remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </th>
            <!-- Status -->
            <th>
                <div id="status" class="btn-group">
                    <button class="btn btn-primary filter-toggle">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="dropdown-menu filter-dropdown">
                        <button class="btn btn-primary btn-block">Filter <i class="fa fa-search"></i></button>
                        <div class="scroller">
                            <div class="input-group" id="transmissionSelector">
                                <div class="checkbox checkbox-success">
                                    <input value="true" id="sttActive" type="checkbox" />
                                    <label for="sttActive">Active</label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input value="false" id="sttInactive" type="checkbox" />
                                    <label for="sttInactive">Inactive</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning filter-remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </th>
            <th></th>
            </tfoot>
        </table>
    </div>
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/VehicleGroupManagement")
                  .Include("~/Content/awesome-bootstrap-checkbox.css",
                      "~/Content/chosen.css",
                      "~/Content/DataTables/css/dataTables.bootstrap.css",
                      "~/Content/pageStyle/vehicleGroupManagement.css"));
}
@section Styles {
    @Styles.Render("~/Styles/VehicleGroupManagement")
}
@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/VehicleGroupManagement")
                   .Include("~/Scripts/chosen.jquery.js",
                      "~/Scripts/DataTables/jquery.dataTables.js",
                      "~/Scripts/DataTables/dataTables.bootstrap.js",
                      "~/Scripts/utils/generateUIElements.js",
                      "~/Scripts/utils/generateCustomDataTablesFilters.js",
                      "~/Scripts/pageScript/vehicleGroupManagement.js"));
}
@section Scripts {
    @Scripts.Render("~/Scripts/VehicleGroupManagement")
}
