.coverBasic{
    border:1px solid;
    padding:20px;
    border-radius: 25px 25px 0 0;
    background-color: #03A9F4;
}
.coverPriceBasic{
    border-width:0 1px 1px 1px;
    border-style: solid;
    padding:20px;
    border-radius: 0 0 25px 25px;
    background-color: #FFFFFF;
}
.coverStandard{
    border:1px solid;
    padding:20px;
    border-radius: 25px 25px 0 0;
    background-color: #F5834C;
}
.coverPriceStandard{
    border-width:0 1px 1px 1px;
    border-style: solid;
    padding:20px;
    border-radius: 0 0 25px 25px;
    background-color: #FFFFFF;
}
.coverPremium{
    border:1px solid;
    padding:20px;
    border-radius: 25px 25px 0 0;
    background-color: #CD594A;
}
.coverPricePremium{
    border-width:0 1px 1px 1px;
    border-style: solid;
    padding:20px;
    border-radius: 0 0 25px 25px;
    background-color: #FFFFFF;
}
.basicColor{
    background-color:#FFD54F;
}
.textBasic{
    color:#1B5E20;
}
.standard{
    background-color:#90CAF9;
}
.priceStandard{
    background-color:#FFAB91;
}
.premium{
    background-color:#B0BEC5;
}