#garages .label {
	font-size: 15px;
	padding: 5px 20%;
}

.status-label {
	margin: 10px;
	text-align: center;
}

#confirmModal .modal-dialog {
	margin-top: 20vh;
}

#multiFilter {
	display: table-header-group;
}
#multiFilter .btn-group {
	min-width: 7em;
    max-width: 15em;
	width: 100%;
}

.filter-toggle {
	width: calc(100% - 3em);
}
.filter-remove {
	width: 3em;
}

.filter-dropdown {
	left: -2em;
	margin-bottom: 2em;
	min-width: initial;
	padding: 5px;
}
.scroller {
	max-height: 30em;
    overflow-x: hidden;
}
.filter-dropdown input[type=text] {
	min-width: 20em;
}
.filter-dropdown input[type=number] {
	min-width: 7em;
}
.filter-dropdown .checkbox {
	display: block;
	padding: 0 15px 0.5em 20px; 
	white-space: nowrap;
}
.filter-dropdown .checkbox:first-child {
	padding-top: 0.5em;
}