@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div class="margin-signup padding-signup backgroundStyle">
        <div>
            <h1 class="logo-name">CRP</h1>
        </div>
        <h3 style="color:white">Xin vui lòng kiểm tra email để reset password!</h3>
        @if (Request.IsAuthenticated)
        {

            @Html.ActionLink("Click here to continue!", "Index", "Manage")
        }
        else
        {
            @Html.ActionLink("Click here to continue!", "Login", "Account")
        }
        </div>
    </div>
        @section PageStyle {
            @Styles.Render("~/Content/pageStyle/forgetPassword.css")
        }


